:root {
	--kjr-dark: #111;
	--kjr-light: #f1f1f1;
	--kjr-light-subtle: #aaaaaa;
	--wp-submenu: #2c3338;
	--wp-light-subtle: #f6f7f7;
	--wp-dark: #1d2327;
	--wp-dark-subtle: #50575e;
	--wp-border-light: #c3c4c7;
	--wp-body-color: #3c434a;
	--wp-accent: #2271b1;
	--kjr-accent: #4d8fbb;
	--wp-input-border: #8c8f94;

	color-scheme: light dark;
}
