@use "sass:color";
@use "./variables" as *;
@use "./mixins" as *;

/* Core UI */

.wp-core-ui {
	.button {
		color: light-dark(var(--wp-accent), var(--kjr-accent));
		border-color: light-dark(var(--wp-accent), var(--kjr-accent));
		background-color: light-dark(var(--wp-light-subtle), var(--kjr-dark));
	}

	.button.hover,
	.button:hover,
	.button.focus,
	.button:focus {
		border-color: color.adjust(#7e8993, $lightness: -5%);
		color: color.adjust(#32373c, $lightness: -5%);
	}

	.button.focus,
	.button:focus {
		border-color: #7e8993;
		color: color.adjust(#32373c, $lightness: -5%);
		box-shadow: 0 0 0 1px #32373c;
	}

	.button:active {
		border-color: #7e8993;
		color: color.adjust(#32373c, $lightness: -5%);
		box-shadow: none;
	}

	.button.active,
	.button.active:focus,
	.button.active:hover {
		border-color: $button-color;
		color: color.adjust(#32373c, $lightness: -5%);
		box-shadow: inset 0 2px 5px -3px $button-color;
	}

	.button.active:focus {
		box-shadow: 0 0 0 1px #32373c;
	}

	.button-primary {
		@include button($button-color);
	}

	.button-group > .button.active {
		border-color: $button-color;
	}

	.wp-ui-primary {
		color: $text-color;
		background-color: $base-color;
	}
	.wp-ui-text-primary {
		color: $base-color;
	}

	.wp-ui-highlight {
		color: $menu-highlight-text;
		background-color: $menu-highlight-background;
	}
	.wp-ui-text-highlight {
		color: $menu-highlight-background;
	}

	.wp-ui-notification {
		color: $menu-bubble-text;
		background-color: $menu-bubble-background;
	}
	.wp-ui-text-notification {
		color: $menu-bubble-background;
	}

	.wp-ui-text-icon {
		color: $menu-icon;
	}

	select {
		background-color: light-dark(white, black);
		color: light-dark(var(--wp-submenu), var(--kjr-light));
	}
}

.subsubsub a .count,
.subsubsub a.current .count {
	color: light-dark(#50575e, var(--kjr-light-subtle));
}
