@use "./variables" as *;
@use "./mixins" as *;

/* Forms */

input[type="checkbox"]:checked::before {
	content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27#{url-friendly-colour($form-checked)}%27%2F%3E%3C%2Fsvg%3E");
}

input[type="radio"]:checked::before {
	background: $form-checked;
}

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
	color: $link-focus;
}

input[type="text"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="checkbox"],
input[type="radio"],
select,
textarea {
	box-shadow: 0 0 0 1px $highlight-color;
	border-color: light-dark($highlight-color, var(--kjr-light-subtle));
	color: light-dark(var(--wp-submenu), var(--kjr-light));
	background-color: light-dark(white, var(--kjr-dark));

	&:focus {
		box-shadow: 0 0 0 1px $highlight-color;
		border-color: light-dark(var(--kjr-light-subtle), $highlight-color);
		color: light-dark(var(--kjr-light), var(--wp-submenu));
		background-color: light-dark(var(--kjr-dark), white);
	}
}
