@use "./variables" as *;

/* Links */
a {
	color: light-dark($link, var(--kjr-accent));

	&:hover,
	&:active,
	&:focus {
		color: $link-focus;
	}

	.subsubsub &.current {
		color: light-dark(black, white);
	}
}

#post-body .misc-pub-post-status:before,
#post-body #visibility:before,
.curtime #timestamp:before,
#post-body .misc-pub-revisions:before,
span.wp-media-buttons-icon:before {
	color: currentColor;
}

.wp-core-ui .button-link {
	color: light-dark($link, var(--kjr-accent));

	&:hover,
	&:active,
	&:focus {
		color: $link-focus;
	}
}

.media-modal .delete-attachment,
.media-modal .trash-attachment,
.media-modal .untrash-attachment,
.wp-core-ui .button-link-delete {
	color: #a00;

	&:hover,
	&:focus {
		color: #dc3232;
	}
}
