@use "sass:color";
@use "./variables" as *;

/* List tables */
.wrap {
	.page-title-action {
		background-color: light-dark(var(--wp-light-subtle), var(--kjr-dark));
		border: 1px solid light-dark($highlight-color, var(--kjr-accent));
		color: light-dark($highlight-color, var(--kjr-accent));

		&:active {
			border: 1px solid $highlight-color;
			color: $highlight-color;
		}

		&:hover {
			color: color.adjust($highlight-color, $lightness: -10%);
			border-color: color.adjust($highlight-color, $lightness: -10%);
		}

		&:focus {
			border-color: color.adjust($highlight-color, $lightness: 10%);
			color: color.adjust($highlight-color, $lightness: -20%);
			box-shadow: 0 0 0 1px
				color.adjust($highlight-color, $lightness: 10%);
		}
	}
}

.view-switch {
	a.current:before {
		color: $menu-background;
	}

	a:hover:before {
		color: $menu-bubble-background;
	}
}
