/*
Theme Name: Parkland Health Foundation Annual Report Custom
Theme URI: https://github.com/kjroelke/pfh-annual-report
Author: K.J. Roelke
Author URI: https://wwww.kjroelke.online
Description: A custom Wordpress theme for Parkland Health Foundation Annual Report, built on the back of Pro Theme (by Themeco).
Version: 1.0.0
License: GNU General Public License v2 or later
Template: pro
*/
