/**
* Reset
* Used to undo Pro Theme's Styles, if necessary
*/

:root {
	--kjr--transition-standard: var(--wp--custom--transition-timing)
		var(--wp--custom--transition-easing);
	--kjr-border-radius: 10px;
}

html {
	line-height: var(--wp--custom--line-height);
}
