@use "../utilities/donor-utilities.scss";

mark {
	background-color: var(--wp--preset--color--accent);
	color: white;
	font-style: italic;
	padding: 0.5rem;
}

main header {
	min-height: clamp(200px, 30vh, 400px);
	align-content: center;
}

section.container h2 {
	color: var(--wp--preset--color--primary);
}

#form-container input[type="text"] {
	&::placeholder {
		color: var(--wp--preset--color--body);
	}
}

ul[id^="donor-list"] {
	:where(&) {
		list-style-type: none;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
	:where(&:even) {
		background-color: var(--wp--preset--color--primary);
		color: white;
	}
}
