@use "../utilities/donor-utilities.scss";

mark {
	background-color: var(--wp--preset--color--accent);
	color: white;
	font-style: italic;
	padding: 0.5rem;

	.bg-primary.text-white & {
		background-color: white;
		color: var(--wp--preset--color--primary);
	}
}

main header {
	min-height: clamp(200px, 30vh, 400px);
	align-content: center;
}

section.container h2 {
	color: var(--wp--preset--color--primary);
}

#form-container input[type="text"] {
	&::placeholder {
		color: var(--wp--preset--color--body);
	}
}

ul[id^="donor-list"] {
	--kjr-num-columns: 1;
	:where(&) {
		list-style-type: none;
		grid-template-columns: repeat(var(--kjr-num-columns), 1fr);
	}

	@media screen and (min-width: 620px) {
		& {
			--kjr-num-columns: 2;
		}
	}

	@media screen and (min-width: 991px) {
		& {
			--kjr-num-columns: 3;
		}
	}
}
